*.psd filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.tdms filter=lfs diff=lfs merge=lfs -text
*.tdms:index filter=lfs diff=lfs merge=lfs -text
*.tdms_index filter=lfs diff=lfs merge=lfs -text
